# Android
platforms/android/assets/www
platforms/android/bin/
platforms/android/gen/
platforms/android/local.properties
platforms/android/ant-build
platforms/android/ant-gen
platforms/android/CordovaLib/ant-build
platforms/android/CordovaLib/ant-gen
platforms/android/CordovaLib/bin
platforms/android/CordovaLib/gen
platforms/android/CordovaLib/local.properties
platforms/android/CordovaLib/
platforms/android/cordova/
platforms/android/.gradle/
platforms/android/*
node_modules/*
fragments and forgotten/*
#general
plugins/

