
*{
	font-family: Verdana, Arial, sans-serif;
}
a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
}
a:hover {
	color: #33F;
}
.button {
	background: -webkit-linear-gradient(top, #008dfd 0, #0370ea 100%);
	border: 1px solid #076bd2;
	border-radius: 3px;
	color: #fff;
	display: none;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.3;
	padding: 8px 25px;
	text-align: center;
	text-shadow: 1px 1px 1px #076bd2;
	letter-spacing: normal;
}
.center {
	padding: 10px;
	text-align: center;
}
.final {
	color: black;
	padding-right: 3px;
}
.cmd_err {
	color: red;
}
.info {
	font-size: 18px;
	text-align: center;
	color: #777;
}
.right {
	float: right;
}
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
#headline {
	font-size: 40px;
	font-weight: 300;
}
#info {
	font-size: 20px;
	text-align: center;
	color: #777;
	visibility: hidden;
}
#results {
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #ddd;
	padding: 15px;
	text-align: left;
	min-height: 100px;
}
<!--.navbar-custom a {
	color: white;
	background-color: black;
}-->

#menu001.navbar-default .navbar-brand {
	color: rgba(119, 119, 119, 1);
}
#menu001.navbar-default {
	font-size: 20px;
	background-color: rgba(224, 224, 224, 1);
	border-width: 1px;
	border-radius: 4px;
}
#menu001.navbar-default .navbar-nav>li>a {
	color: rgba(119, 119, 119, 1);
	background-color: rgba(248, 248, 248, 0);
	padding-right:50px;
}
#menu001.navbar-default .navbar-nav>li>a:hover,
#menu001.navbar-default .navbar-nav>li>a:focus {
	color: rgba(51, 51, 51, 1);
	background-color: rgba(248, 248, 248, 0);
}
#menu001.navbar-default .navbar-nav>.active>a,
#menu001.navbar-default .navbar-nav>.active>a:hover,
#menu001.navbar-default .navbar-nav>.active>a:focus {
	color: rgba(85, 85, 85, 1);
	background-color: rgba(231, 231, 231, 1);
}
#menu001.navbar-default .navbar-toggle {
	border-color: #ddd;
}
#menu001.navbar-default .navbar-toggle:hover,
#menu001.navbar-default .navbar-toggle:focus {
	background-color: #ddd;
}
#menu001.navbar-default .navbar-toggle .icon-bar {
	background-color: #888;
}
#menu001.navbar-default .navbar-toggle:hover .icon-bar,
#menu001.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #888;
}
#robot-url {
	font-size: 25px;
}
#url {
	font-size: 25px;
}
.mitem {
	font-size: 20px;
	font-family: sans-serif;
    font-weight: bold;
	text-decoration: none;
}
.smitem {
	font-size: 14px;
}
.mbutton {
	color:#006dcc;
}

/* ========================Dropdown ===================================) */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content  */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.bootbox-msg {
    font-size: 24px;     
}
p.small {
    line-height: 90%;
}
.row {max-width: 100%;  /* this is a fix for the row overflowing right and left */
	padding: 0 15px;
}
